In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import ipywidgets as widgets

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lakatoro,VU,2021-11-20 01:49:48,-16.0999,167.4164,79.77,70,99,1.59
1,1,Arraial Do Cabo,BR,2021-11-20 01:49:48,-22.9661,-42.0278,73.11,94,100,16.02
2,2,Tiznit,MA,2021-11-20 01:49:49,29.5833,-9.5000,57.09,80,17,2.48
3,3,Faanui,PF,2021-11-20 01:49:49,-16.4833,-151.7500,80.42,79,18,17.78
4,4,Busselton,AU,2021-11-20 01:49:49,-33.6500,115.3333,70.05,48,7,8.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lakatoro,VU,2021-11-20 01:49:48,-16.0999,167.4164,79.77,70,99,1.59
3,3,Faanui,PF,2021-11-20 01:49:49,-16.4833,-151.7500,80.42,79,18,17.78
5,5,Oistins,BB,2021-11-20 01:47:23,13.0667,-59.5333,80.69,74,40,14.97
8,8,Carnarvon,AU,2021-11-20 01:49:50,-24.8667,113.6333,75.27,64,0,12.66
11,11,Kyabe,TD,2021-11-20 01:49:51,9.4515,18.9449,77.77,28,9,3.38
15,15,Kapaa,US,2021-11-20 01:49:53,22.0752,-159.3190,82.72,71,40,1.99
20,20,Butaritari,KI,2021-11-20 01:49:54,3.0707,172.7902,82.24,71,100,18.21
21,21,Cap Malheureux,MU,2021-11-20 01:49:55,-19.9842,57.6142,76.46,72,0,5.99
23,23,Harper,LR,2021-11-20 01:49:55,4.3750,-7.7169,79.30,87,6,6.60
34,34,Bengkulu,ID,2021-11-20 01:49:59,-3.8004,102.2655,81.52,70,100,4.03

In [13]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0         Lakatoro      VU     79.77 -16.0999  167.4164
3           Faanui      PF     80.42 -16.4833 -151.7500
5          Oistins      BB     80.69  13.0667  -59.5333
8        Carnarvon      AU     75.27 -24.8667  113.6333
11           Kyabe      TD     77.77   9.4515   18.9449
15           Kapaa      US     82.72  22.0752 -159.3190
20      Butaritari      KI     82.24   3.0707  172.7902
21  Cap Malheureux      MU     76.46 -19.9842   57.6142
23          Harper      LR     79.30   4.3750   -7.7169
34        Bengkulu      ID     81.52  -3.8004  102.2655

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lakatoro,VU,79.77,-16.0999,167.4164,Lakatoro Palm Lodge
3,Faanui,PF,80.42,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
5,Oistins,BB,80.69,13.0667,-59.5333,Butterfly Beach Hotel
8,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
11,Kyabe,TD,77.77,9.4515,18.9449,
...,...,...,...,...,...,...
547,Dubbo,AU,75.33,-32.2500,148.6167,Comfort Inn Blue Lagoon
550,Oriximina,BR,79.74,-1.7656,-55.8661,Pousada Tia Amélia
551,Ewa Beach,US,83.01,21.3156,-158.0072,Uncle Junior Robert
553,Tulagi,SB,83.80,-9.0996,160.1476,Raiders Hotel & Dive
556,Bhatkal,IN,77.52,13.9667,74.5667,Nilawar Palace

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]