In [1]:
## Deliverable 3. Create a Travel Itinerary Map. - updated

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,WeatherPy_vacation,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,75.52,light rain,-23.1203,-134.9692,People ThankYou
1,2,Dingle,PH,76.78,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
2,5,Balung,ID,78.69,overcast clouds,-7.7333,113.9167,Kampung Nelayan Resort
3,9,Kavaratti,IN,81.91,scattered clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
4,18,Georgetown,MY,78.89,moderate rain,5.4112,100.3354,Cititel Penang

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
weather_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=weather_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
vacation_df

,WeatherPy_vacation,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,75.52,light rain,-23.1203,-134.9692,People ThankYou
1,2,Dingle,PH,76.78,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
2,5,Balung,ID,78.69,overcast clouds,-7.7333,113.9167,Kampung Nelayan Resort
3,9,Kavaratti,IN,81.91,scattered clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
4,18,Georgetown,MY,78.89,moderate rain,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...,...
215,676,Monrovia,LR,89.37,scattered clouds,6.3005,-10.7969,Sunset Inn
216,681,Domoni,KM,80.89,broken clouds,-12.2569,44.5319,Al Djadid
217,684,Nizwa,OM,78.21,clear sky,22.9333,57.5333,Orient Apartments
218,689,Sassandra,CI,84.78,few clouds,4.9500,-6.0833,la terrasse
219,691,Pathein,MM,76.23,scattered clouds,16.7833,94.7333,New Pammawaddy Hotel

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Najran")]
vacation_end = vacation_df.loc[vacation_df["City"] == "Najran"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Salalah"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Nizwa"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Abu Dhabi"]

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
Roundtrip = gmaps.directions_layer(start, end, waypoints = [(stop1),(stop2),(stop3)], travel_mode  = "DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer (Roundtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,WeatherPy_vacation,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,590,Najran,SA,81.25,broken clouds,17.4924,44.1277,محمد هادي ال فطيح
1,628,Salalah,OM,82.49,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
2,684,Nizwa,OM,78.21,clear sky,22.9333,57.5333,Orient Apartments
3,617,Abu Dhabi,AE,84.22,clear sky,24.4667,54.3667,Ramee Garden Hotel Apartments
4,590,Najran,SA,81.25,broken clouds,17.4924,44.1277,محمد هادي ال فطيح

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
hotel_info

['\n<dl>\n<dt>City</dt><dd>Najran</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Description</dt><dd>broken clouds</dd>\n<dt>Max Temp</dt><dd>81.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Description</dt><dd>clear sky</dd>\n<dt>Max Temp</dt><dd>82.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>City</dt><dd>Nizwa</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Description</dt><dd>clear sky</dd>\n<dt>Max Temp</dt><dd>78.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>City</dt><dd>Abu Dhabi</dd>\n<dt>Country</dt><dd>AE</dd>\n<dt>Current Description</dt><dd>clear sky</dd>\n<dt>Max Temp</dt><dd>84.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>City</dt><dd>Najran</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Description</dt><dd>broken clouds</dd>\n<dt>Max Temp</dt><dd>81.25 °F</dd>\n</dl>\n']

In [30]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(45.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))